html, body {
    margin: 0;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    background: rgb(2,0,36);
    background: linear-gradient(113deg, rgba(2,0,36,1) 0%, rgba(44,44,73,1) 0%, rgba(19,65,191,1) 50%, rgba(30,191,235,1) 100%);
    font-size: 26px;

}
.title {
    margin: 0;
    text-align: center;
    color: white;
    padding: 36px 0 16px 0;
    grid-column: 1;
}

.content {
    background-color: rgb(51, 29, 146);
    padding-left: 12px;
    color: white;
/*     color: rgb(209, 197, 197); */
}

.information {
    margin: 0;
    font-size: 16px;
    grid-row: 2;
}

.heading {
    margin: 0;
    text-align: center;
    font-size: 26px;
    color: white;
    padding: 26px 0;
}

footer {
    background: rgb(13,45,101);
    background: linear-gradient(117deg, rgba(13,45,101,1) 0%, rgba(5,63,166,1) 51%, rgba(5,130,193,1) 100%);
    margin: 0;
    padding: 40px 0;
    text-align: center;
    font-size: 26px;
    color: white;
    grid-row: 3;
}

.fa {
    width: 139px; 
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding-bottom: 6px;
}
.icon-bar a {
    display: inline-block;
    color: #fff;
    background: rgba(30,191,235,1);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 24px 0;
}

.icon-bar a:hover {
    background: rgba(13,42,120,1)
}

.icon-bar a.active {
    background: rgb(34,193,195);
    background: linear-gradient(117deg, rgba(34,193,195,1) 0%, rgba(45,253,141,1) 100%);
}

.dropdown-vertical {
    display: inline-block;
    position: relative;
    grid-column: 2;
}
.vertical-bar {
    position: absolute;
    padding: 0;
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.8s linear;
}
.dropdown-vertical:hover ul{
    max-height: 1000px;
}
  
.dropdown-horizontal {
    display: inline-block;
    position: relative;
}

.hower-text {
    width: 90px; 
    color: #fff;
    padding: 24.5px;
    font-size: 24px; 
    margin: 0;
}
