<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <title>Elvin Smajic</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <p class="title">Skånes rymdprogram</p>
            <div class="dropdown-vertical">
                <i class="fa fa-angle-down arrow"></i>
                <ul class="icon-bar vertical-bar">
                    <li><a href="hemma"><i class="fa fa-fw fa-home"></i>Hemma</a></li>
                    <li><a href="#"><i class="fa fa-rocket"></i>Våra astronauter</a></li>
                </ul>
            </div>
        </header>
        <main class="content">
            <h2 class="heading">Våra bästa astronauter:</h2>
                <h3 class="astronaut">Elvin Smajic:</h3>
                <img src="https://cdn.discordapp.com/attachments/915953171698954241/915953485982335066/unknown.png" width="360" height="360" />
        </main>
        <footer>Det är officielt websidda av Skånes rymdprogram.</footer> 
    </div>
</body>
</html>