<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="public/testfoto.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="5dOhxgFybXMcTGphvepvNUeJn2-EWmAQ50T1Ypl1eKs" />
    <title>Elvin Smajc</title>
</head>
<body>
    <h1>Test</h1>
</body>
</html>