<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="5dOhxgFybXMcTGphvepvNUeJn2-EWmAQ50T1Ypl1eKs" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <title>Elvin Smajic</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <p class="title">Skånes rymdprogram</p>
            <div class="dropdown-vertical">
                <p class="hower-text">Peka på mig</p>
                <ul class="icon-bar vertical-bar">
                    <li><a href="#"><i class="fa fa-fw fa-home"></i>Hemma</a></li>
                    <li><a href="astronauter"><i class="fa fa-rocket"></i>Våra astronauter</a></li>
                </ul>
            </div>
        </header>
        <main class="content">
            <p class="information">
                Välkommen till Skånes rymdprogram! På denna webbsida, hittar ni information om vara rymdprogram
            </p>
        </main>
        <footer>Det är officielt websidda av Skånes rymdprogram.</footer>
    </div>
</body>
</html>